extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row 
            .col-12 
                .box-head 
                    +box-head(pageTitle)

        .row 
            .col-6.mb-3 
                div(class="song-item")
                    div(class="inner-image")
                        a(href="/songs/detail/:slugSong")
                            img(src="/images/anh-am-nhac_050504483.jpg")
                    div(class="inner-content")
                        div(class="inner-title")
                            a(href="/song/detail/:slugSong") Talk to me 
                        div(class="inner-singer") Ca sĩ : Tăng Duy Tân 
                        div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> 1000
                        div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay
            .col-6.mb-3 
                div(class="song-item")
                    div(class="inner-image")
                        a(href="/songs/detail/:slugSong")
                            img(src="/images/anh-am-nhac_050504483.jpg")
                    div(class="inner-content")
                        div(class="inner-title")
                            a(href="/song/detail/:slugSong") Talk to me 
                        div(class="inner-singer") Ca sĩ : Tăng Duy Tân 
                        div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> 1000
                        div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay
            .col-6.mb-3 
                div(class="song-item")
                    div(class="inner-image")
                        a(href="/songs/detail/:slugSong")
                            img(src="/images/anh-am-nhac_050504483.jpg")
                    div(class="inner-content")
                        div(class="inner-title")
                            a(href="/song/detail/:slugSong") Talk to me 
                        div(class="inner-singer") Ca sĩ : Tăng Duy Tân 
                        div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> 1000
                        div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay
            .col-6.mb-3 
                div(class="song-item")
                    div(class="inner-image")
                        a(href="/songs/detail/:slugSong")
                            img(src="/images/anh-am-nhac_050504483.jpg")
                    div(class="inner-content")
                        div(class="inner-title")
                            a(href="/song/detail/:slugSong") Talk to me 
                        div(class="inner-singer") Ca sĩ : Tăng Duy Tân 
                        div(class="inner-like") <i class="fa-solid fa-thumbs-up"></i> 1000
                        div(class="inner-time") <i class="fa-regular fa-clock"></i> Hôm nay